.chats_ad_box {
  position: absolute;
  bottom: 80px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.chats_ad_box img {
  width: 90vw;
  height: 28vw;
  border-radius: 5%;
  object-fit: cover;
  object-position: top;
}

.chats_ad_box div {
  width: 90vw;
  height: 28vw;
  border-radius: 5%;
  position: absolute;
  background: linear-gradient(
    to top,
    black,
    black 10%,
    transparent,
    transparent,
    transparent
  );
  opacity: 0.5;
  display: flex;
  align-items: flex-end;
}

.chats_ad_box > span:nth-child(3) {
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 2px 6px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chats_ad_box > span:nth-child(4) {
  position: absolute;
  bottom: 10px;
  left: 36px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}
