.scroll-main {
  margin-top: 84px;
  margin-bottom: 64px;
  height: calc(100vh - 148px);
  overflow-y: auto;
}

.scroll-main::-webkit-scrollbar {
  width: 10px;
}

.scroll-main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.scroll-main--chat {
  padding: 0px 12px 12px 12px;
  margin-bottom: 50px;
  box-sizing: border-box;
  height: calc(100vh - 134px);
}
